@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
    themes: light, dark, cupcake, black
}

.font {
    font-family: "Poppins", sans-serif;
}

.tra {
    transition: all .3s ease-in-out;
}
.button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 9999px;
    background: #0f172b;
    transition: all .5s ease-in-out;
}

.button:hover::after {
    width: 100%;
}
.button2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 9999px;
    background: #8b5cf6;
    transition: all .5s ease-in-out;
}

.button2:hover::after {
    width: 100%;
}
.swalButton{
    background: linear-gradient(135deg, #0f172b 0%, #1e293b 100%);
}
.icoon{
    background: transparent;
}
.css-cyqh1t-MuiPaper-root-MuiDrawer-paper {
    background: transparent !important;
    backdrop-filter: blur(25px) !important;
}
#footer canvas{
    height: 300px !important;
}